.questioncard {
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 2rem;

    background: #f5f5f5;
    padding: 1rem;
    /* border-radius: 1rem; */

    text-align: left;

    font-family: 'Times New Roman', Times, serif;
}
